<div class='mt-4'>
    <div>
        <a href='/perfume'>Danh sách nước hoa</a>
        <h3>Nước hoa đã xóa</h3>
    </div>

    <table class='table mt-4'>
        <thead>
            <tr>
                <th scope='col'>
                    Tên nước hoa
                </th>
                <th scope='col'>
                    Thời gian xóa
                </th>
                <th scope='col'>Tùy chọn </th>
            </tr>
        </thead>
        <tbody>
            {{#each perfume}}
                <tr>
                    <td>{{this.tenNH}}</td>
                    <td>{{formatDate this.deleted_at}}</td>
                    <td>
                        <a href='' class='btn btn-link btn-restore' data-id='{{this.idNH}}'>Khôi phục</a>
                        <a
                            href=''
                            class='btn btn-link btn-delete'
                            data-id='{{this.idNH}}'
                            data-toggle='modal'
                            data-target='#delete-perfume-modal'
                        >Xóa vĩnh viễn</a>
                    </td>
                </tr>
            {{else}}
                <tr>
                    <td colspan='5' class='text-center'>
                        Thùng rác trống.
                        <a href='/perfume'>Danh sách nước hoa</a>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>

{{! Confirm delete perfume }}
<div id='delete-perfume-modal' class='modal' tabindex='-1' role='dialog'>
    <div class='modal-dialog' role='document'>
        <div class='modal-content'>
            <div class='modal-header'>
                <h5 class='modal-title'>Xóa nước hoa?</h5>
                <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <div class='modal-body'>
                <p>Bạn chắc chắn muốn xóa nước hoa này?</p>
            </div>
            <div class='modal-footer'>
                <button type='button' class='btn btn-secondary' data-dismiss='modal'>Hủy</button>
                <button id='btn-delete-perfume' type='button' class='btn btn-danger'>Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

{{! Delete hidden form }}
<form id='delete-perfume-form' method='POST'></form>

<form id='restore-perfume-form' method='POST'></form>

<script>
    document.addEventListener('DOMContentLoaded', function() { var perfumeId; var deleteForm =
    document.getElementById('delete-perfume-form'); var btnDeletePerfume =
    document.getElementById('btn-delete-perfume'); var restoreForm = document.getElementById('restore-perfume-form');
    var restoreBtns = document.querySelectorAll('.btn-restore'); $('#delete-perfume-modal').on('show.bs.modal', function
    (event) { var button = $(event.relatedTarget); perfumeId = button.data('id'); }); btnDeletePerfume.onclick =
    function () { deleteForm.action = '/perfume/deletef/' + perfumeId+'?_method=DELETE'; deleteForm.submit(); }
    restoreBtns.forEach(function(btn) { btn.addEventListener('click', function(e) { e.preventDefault(); var perfumeId =
    this.getAttribute('data-id'); restoreForm.action = '/perfume/restore/' + perfumeId+'?_method=PATCH';
    restoreForm.submit(); }); }); });
</script>